*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:conic-gradient(rgb(209, 80, 140) ,rgb(202, 118, 118) ,rgb(242, 167, 167) , rgb(240, 151, 193));
}

.container{
    border: 1px solid lightgray;
    box-shadow:0 0 5px 5px rgb(65, 138, 223);
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    height: 150px;
}
body h1{
    font-size: 50px;
}

.container .days, .hours, .minutes,.seconds{
    font-size: 50px;
    background:transparent;
    /* border: 1px solid white; */
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 
    inset 0 4px 10px rgba(255,255,255,0.2),
    0 8px 20px rgba(0,0,0,0.2);
}